.about-wrapper {
	.info-long {
		margin-top: $large-top;
		.svg-wrapper {
			display: inline-block;
			text-align: center;
			svg,
			h5 {
				color: $blue;
				display: block;
			}
			svg {
				fill: $blue;
				height: 48px;
				margin: 0 auto;
				position: relative;
				width: 48px;
			}
			h5 {
				margin-top: $xxsmall-top;
			}
		}
	}	
}