* {
  backface-visibility: hidden !important;
  box-sizing: border-box !important;
	&:active, &:focus, &:hover, &:visited {
		outline: none !important;
	}
}

a {
  @include underline($grey, $blue);
  color: $blue;
  position: relative;
}

html, body {
  background-color: $extra-light-grey;
}

body {
	font-family: $RalewayRegular;
  .wrap.container-fluid {
    padding-bottom: $large-top;
  }
}

.img-16-9 {
  @include aspect-ratio(16, 9);
}
.img-3-4 {
  @include aspect-ratio(3, 4);
}
.img-4-3 {
  @include aspect-ratio(4, 3);
}

.hidden-xs {
  @media (max-width: 767px) {
    display: none !important;
  }
}
.hidden-sm {
  @media (min-width: 768px) and (max-width: 991px) {
    display: none !important;
  } 
}
.hidden-md {
  @media (min-width: 992px) and (max-width: 1199px) {
    display: none !important;
  }  
}
.hidden-lg {
  @media (min-width: 1200px) {
    display: none !important;
  }
}