// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$blue: #4C68A1;
$white: #FFFFFF;
$grey: #808080;
$extra-light-grey: #F5F5F5;

// Fonts
$RalewayRegular:	'RalewayRegular', serif;
$RalewaySemiBold:	'RalewaySemiBold', serif;
$RalewayThin:			'RalewayThin', serif;
$Syncopate:			'Syncopate', serif;
$SyncopateBold:			'SyncopateBold', serif;

$xlarge-top: 144px;
$large-top: 96px;
$medium-top: 72px;
$small-top: 48px;
$xsmall-top: 24px;
$xxsmall-top: 12px;

$site-transition: cubic-bezier(.85,.01,.55,2);